# Python
__pycache__/
*.pyc
*.o
*.so
*.egg
*.egg-info
.Python
build/
dist/
venv/
.venv/

# macOS
.DS_Store

# Jupyter Notebooks
*.ipynb

# Generated data files and directories
data/taipower_ancillary/*.json
data/taipower_flow/*.json
data/taipower_flow/raw/
data/taipower_generators/*.json
data/taipower_generators/raw/
pic/